# --- TMDB API ---
TMDB_TOKEN=TMDB_TOKEN
TMDB_SLEEP_SEC=0.25

# --- Database (PostgreSQL) ---
DB_NAME=frameratr
DB_USER=fr_user
DB_PASS=fr_password
DB_HOST=localhost
DB_PORT=5432
FL

# --- Firebase ---
FIREBASE_PROJECT_ID=firebase-project-id
FIREBASE_CLIENT_EMAIL=firebase-client-email
FIREBASE_PRIVATE_KEY=firebase-web-api-key
GOOGLE_APPLICATION_CREDENTIALS=backend/firebase-service-account.json

