@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

html,
body {
  height: 100%;
  margin: 0;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}


.app-shell {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #09090b;
}

/* Grows to push footer down */
.app-main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

body {
  /* Geometric Sans Serif Stack */
  --font-main: "Avenir Next", "Avenir", "Century Gothic", "Futura", "Montserrat", "Gotham", -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-height: 100vh;
    background: black;
    background-size: 210vh;
    background-position: top;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.primary-heading {
  font-size: 36px;
  font-style: bold;
}